* {
    /* `otf-font-awesome` is required to be installed for icons 
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif, NerdFont,*/font-family: monospace bold;
    font-size: 13px;
}
#waybar {
margin: 1px;
padding: 1px;
}
window#waybar {
    background-color: transparent;
    border-bottom: 0px ;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    margin: 1px;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0px;
    background-color: #ffffff;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    border-radius: 5px;
}
#workspaces {
background-color:#000000;
border-width: 1px;
border-color: #ffffff;
border-style: solid;
border-radius: 5px;
}
#workspaces button {
    padding: 1px 1px;
    margin: 3px 3px 3px 3px;
    min-height: 5px;
    min-width: 20px;
    background-color: #808080;
    color:#808080;
    border-radius: 50px;
    border: 1px;
    transition: all 0.25s ease;
}
#workspaces button.empty {
    opacity: 0;
    min-width: 0;
   padding: 0;
    margin: 0;
    font-size: 0;
    transition:
    opacity 0.25s ease,
    min-width 0.25s ease,
    padding 0.25s ease;

}
#workspaces button.empty *{
    opacity: 0;
    min-width: 0;
   padding: 0;
    margin: 0;
    font-size: 0;
    transition:
    opacity 0.25s ease,
    min-width 0.25s ease,
    padding 0.25s ease;
}

#workspaces button:hover {
    background-color:#eeeeee;
    color: #eeeeee;
     transition: all 0.3s ease-in-out;
}

/*#workspaces button.focused {
    background-color: #ffffff;
    box-shadow: inset 0 -3px rgba (17, 17, 27, 1);
     transition: all 0.3s ease-in-out;
     transition:
     opacity 0.25s ease,
     min-width 0.25s ease,
     padding 0.25s ease;
}*/

#workspaces button.urgent {
    background-color: #ffffff;
     box-shadow: inset 0 -3px rgba (17, 17, 27, 1);
      transition: all 0.3s ease-in-out;
}
#workspaces button.active {
background-color: #ffffff;
color: #ffffff;
border-radius: 20px;
transition: all 0.3s ease-in-out;
opacity: 1;
min-width: 40px;
min-height: 1px;
font-size: 2px;
padding: 2px 8px;
margin: 5px;
transition:
opacity 0.25s ease,
min-width 0.25s ease,
padding 0.25s ease;
}
#mode {
    background-color: #eeeeee;
    box-shadow: inset 0 -3px #ffffff;;
}
#clock,
#network,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-dash,
#mpd

#mpd {
    padding: 0 10px;
    color: #ffffff;;
}
#window,
#workspaces {
    margin: 0 0px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock{
    background-color: #000000;
    border: solid;
    border-radius: 0px 5px 5px 0px;
    border-width: 1px 1px 1px 0px;
    color: #ffffff;

}

#battery {
    background-color: #000000;
    color: #ffffff;
    border: solid;
    border-width: 1px 1px 1px 0;    
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #000000;
}

@keyframes blink {
    to {
        background-color: #FFFFFF;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #000000;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border: solid;
    border-radius: 5px;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #000000;
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #000000;
    color: #ffffff;
    border: solid;
    border-radius: 0px;
    border-width: 1px 1px 1px 0;
}

#network.disconnected {
    background-color: #000000;
}

#pulseaudio {
    background-color: #000000;
    color: #ffffff;
    border: solid;
    border-radius: 5px;
    border-color: #ffffff;
    border-width: 1px;
}

#pulseaudio.muted {
    background-color: #000000;
    color:#ffffff;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #ffffff;
    border-style: solid;
    border-radius: 5px;

}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #ffffff;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}
#custom-dash {
background-color: #000000;
color: #ffffff;
border: 1px;
border-color: #ffffff;
border-radius: 5px;
}
#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

